<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>InsertStudent</servlet-name>
        <servlet-class>controller.InsertStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAllStudentA</servlet-name>
        <servlet-class>controller.SearchAllStudentA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAllStudentD</servlet-name>
        <servlet-class>controller.SearchAllStudentD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAllStudentA_Std</servlet-name>
        <servlet-class>controller.SearchAllStudentA_Std</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAllStudentD_Std</servlet-name>
        <servlet-class>controller.SearchAllStudentD_Std</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchById</servlet-name>
        <servlet-class>controller.SearchById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAllDeletedA</servlet-name>
        <servlet-class>controller.SearchAllDeletedA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAllDeletedD</servlet-name>
        <servlet-class>controller.SearchAllDeletedD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAllDeletedA_Std</servlet-name>
        <servlet-class>controller.SearchAllDeletedA_Std</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAllDeletedD_Std</servlet-name>
        <servlet-class>controller.SearchAllDeletedD_Std</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteById</servlet-name>
        <servlet-class>controller.DeleteById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateById</servlet-name>
        <servlet-class>controller.UpdateById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>controller.UpdateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteRecord</servlet-name>
        <servlet-class>controller.DeleteRecord</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreDataA</servlet-name>
        <servlet-class>controller.RestoreDataA</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreDataD</servlet-name>
        <servlet-class>controller.RestoreDataD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreDataA_Std</servlet-name>
        <servlet-class>controller.RestoreDataA_Std</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreDataD_Std</servlet-name>
        <servlet-class>controller.RestoreDataD_Std</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreDataA1</servlet-name>
        <servlet-class>controller.RestoreDataA1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreDataD1</servlet-name>
        <servlet-class>controller.RestoreDataD1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreDataA_Std1</servlet-name>
        <servlet-class>controller.RestoreDataA_Std1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestoreDataD_Std1</servlet-name>
        <servlet-class>controller.RestoreDataD_Std1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertData</servlet-name>
        <servlet-class>controller.InsertData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProtonPreSchool</servlet-name>
        <servlet-class>controller.ProtonPreSchool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLogin</servlet-name>
        <servlet-class>controller.CheckLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InsertStudent</servlet-name>
        <url-pattern>/InsertStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAllStudentA</servlet-name>
        <url-pattern>/SearchAllStudentA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAllStudentD</servlet-name>
        <url-pattern>/SearchAllStudentD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAllStudentA_Std</servlet-name>
        <url-pattern>/SearchAllStudentA_Std</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAllStudentD_Std</servlet-name>
        <url-pattern>/SearchAllStudentD_Std</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchById</servlet-name>
        <url-pattern>/SearchById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAllDeletedA</servlet-name>
        <url-pattern>/SearchAllDeletedA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAllDeletedD</servlet-name>
        <url-pattern>/SearchAllDeletedD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAllDeletedA_Std</servlet-name>
        <url-pattern>/SearchAllDeletedA_Std</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAllDeletedD_Std</servlet-name>
        <url-pattern>/SearchAllDeletedD_Std</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteById</servlet-name>
        <url-pattern>/DeleteById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateById</servlet-name>
        <url-pattern>/UpdateById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/UpdateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteRecord</servlet-name>
        <url-pattern>/DeleteRecord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreDataA</servlet-name>
        <url-pattern>/RestoreDataA</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreDataD</servlet-name>
        <url-pattern>/RestoreDataD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreDataA_Std</servlet-name>
        <url-pattern>/RestoreDataA_Std</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreDataD_Std</servlet-name>
        <url-pattern>/RestoreDataD_Std</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreDataA1</servlet-name>
        <url-pattern>/RestoreDataA1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreDataD1</servlet-name>
        <url-pattern>/RestoreDataD1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreDataA_Std1</servlet-name>
        <url-pattern>/RestoreDataA_Std1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestoreDataD_Std1</servlet-name>
        <url-pattern>/RestoreDataD_Std1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertData</servlet-name>
        <url-pattern>/InsertData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProtonPreSchool</servlet-name>
        <url-pattern>/ProtonPreSchool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLogin</servlet-name>
        <url-pattern>/CheckLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
